@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('./fonts/BebasNeue-Bold.woff2') format('woff2'),
         url('./fonts/BebasNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('./fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';           
    src: url('./fonts/Roboto-Condensed.woff2') format('woff2'),
         url('./fonts/Roboto-Condensed.woff') format('woff');
    font-weight: normal;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';           
    src: url('./fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Light';           
    src: url('./fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;              
    font-style: normal;
}

html, body, main, footer {
    width: 1366px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    width: 100%;
	height: 692px;
	float: left;
    position: relative;
    margin-top: 0; 
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(circle at bottom left,#003D85 0%,#B80027 100%); 
}

/* ВЕРХНЯЯ ЛИНИЯ В HEADER */
.header_top-line {
    width: 1366px;
    height: 51px;
    margin: 0 auto 0;
}

/* НАДПИСЬ SUPERGYM */
.logo { 
    width: 89px;
    height: 20px;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 30px 0 0 103px; 
    float: left;
}

/* 8-800-555-55-55 */
.phone a { 
    width: 154px;
    height: 20px;
    margin: 30px 103px 0 0; 
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

/* БОЛЬШОЙ БЛОК ПОД ВЕРХНЕЙ ЛИНИЕЙ В HEADER */
.header_main {
    width: 100%;
    height: 556px;
    display: flex;
}

/* ЛЕВЫЙ БЛОК С ТЕКСТАМИ В HEADER_MAIN */
.header_left {
    display: block;
    float: left;
    width: 563px;
    height: 556px;
}

.empty_c {
    width: 100%;
    height: 122px;
}

/* ГОРОД ОМСК */
.city { 
    width: 100%;
    height: 37px;
    text-align: right;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* ПУСТОЙ БЛОК МЕЖДУ CITY И BIG-NAME  */
.c_empty_bn {
    width: 100%;
    height: 25px;
}

/* НАДПИСЬ ФИТНЕС */
.big-name-f { 
    width: 100%;
    /* height: 191px; */
    height: auto;
    font-family: 'Bebas Neue Bold', Georgia, bold;/* слетел шрифт и не хочет обратно */
    font-weight: 900;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    clear:both;
}

.bnc-and-fl {
    width: 100%;
    /* height: 191px; */
    height: auto;
}

/* НАДПИСЬ ЦЕНТР */
.big-name-c { 
    /* width: 100%;
    height: 191px; */
    width: auto;
    height: 85px;
    font-family: 'Bebas Neue Bold', Georgia, bold;/* слетел шрифт и не хочет обратно */
    font-weight: bold;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    float: right;
    float: right;
}

/* НАДПИСИ ТЗ, ГЗ, КЗ */
.fitness_links { 
    width: 225px;
    height: 51px;
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 14px;
    line-height: 21px;
    float: right;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin-right: 23px;
}

.fitness_links_ul {
    padding: 0;
}

.fitness_links_li {
    list-style: none;
}

/* ПУСТОЙ БЛОК */
.bnc-and-fl_bm {
    width: 100%;
    height: 80px;
    clear: both;
}

/* КНОПКА КУПИТЬ АБОНЕМЕНТ */
.buy-membership { 
    width: 230px;
    height: 57px;
    border: 4px solid #FFFFFF;
    float: right;
}

.buy-membership > a {
    width: 230px;
    height: 57px;
    font-family: 'Roboto Condensed';
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.buy-membership > a > p {
    margin-left: 57px;
}


/* ПУСТОЙ БЛОК МЕЖДУ HEADER_LEFT И HEADER_MID  */
.hl_empty_hm {
    height: 100%;
    width: 64px;
    float: right;
}


/* СРЕДНИЙ БЛОК С ФОТО В HEADER_MAIN */
.header_mid {
    width: 500px;
    height: 556px;
}

/* ФОТО С МУЖЧИНОЙ */
.title_photo { 
    width: 100%;
    height: 100%;
}

.title_photo > img {
    width: 100%;
    height: 100%;
}

.hm_empty_hr {
    width: 186px;
    height: 100%;
}

/* ПРАВЫЙ БЛОК С ССЫЛКАМИ В HEADER_MAIN */
.header_right {
    width: auto;
    height: 100%;
}

.empty_sl {
    width: auto;
    height: 437px;
}

/* ССЫЛКИ НА ВК, ФБ И ИГ */
.social_links {
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social_links li {
    list-style: none;
}

.social_links a {
    text-decoration: none;
    color: #FFFFFF;
}

.social_links > ul {
    padding: 0;
}

/* ПУСТОЙ БЛОК СПРАВА ОТ HEADER_RIGHT */
.hr_empty { 
    width: 103px;
    height: 100%;
    float: right;
}

/* ПУСТАЯ ЛИНИЯ ПОД HEADER_MAIN */
.header_bottom-line {
    margin-bottom: 0;
    display: block;
    height: 85px;
    width: 100%;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column; 
}

.gym {
    width: 100%;
    height: 722px;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
}

.vertical-line_1 {
    width: 100%;
    height: 86px;
}

.vertical-line_2 {
    width: 100%;
    height: 516px;
    display: flex;
}

.vl2_1 {
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.vl2_1_1 {
    width: 100%;
    height: 49px;
}

.vl2_1_2 {
    width: 100%;
    height: 314px;
    display: flex;
}

.vl2_1_2_1 {
    width: 163px;
    height: 100%;
}

.vl2_1_2_2 {
    width: 355px;
    height: 100%;
}

.vl2_1_2_3 {
    width: 22px;
    height: 100%;
}

.vl2_1_3 {
    width: 100%;
    height: 153px;
}

.vl2_2 {
    width: 723px;
    height: 100%;
    outline: 1px solid black;
}

.vl2_3 {
    width: 103px;
    height: 100%;
}


.vertical-line_3 {
    width: 100%;
    height: 120px;
}
