
/* MAIN */
main {
    display: flex;
    flex-direction: column; 
}

.gym {
    width: 100%;
    height: 722px;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
}

.vertical-line_1 {
    width: 100%;
    height: 86px;
}

.vertical-line_2 {
    width: 100%;
    height: 516px;
    display: flex;
}

.vl2_1 {
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.vl2_1_1 {
    width: 100%;
    height: 49px;
}

.vl2_1_2 {
    width: 100%;
    height: 314px;
    display: flex;
}

.vl2_1_2_1 {
    width: 163px;
    height: 100%;
}

.vl2_1_2_2 {
    width: 355px;
    height: 100%;
}

.vl2_1_2_3 {
    width: 22px;
    height: 100%;
}

.vl2_1_3 {
    width: 100%;
    height: 153px;
}

.vl2_2 {
    width: 723px;
    height: 100%;
    outline: 1px solid black;
}

.vl2_3 {
    width: 103px;
    height: 100%;
}


.vertical-line_3 {
    width: 100%;
    height: 120px;
}


.description_gym {
    display: block; 
    float: left;
    width: 355px;
    height: 314px;
    margin: 135px 0 0 163px;/* почему блок отступает не от предыдущегно блока сверху?  */
}

.description_gym > h2 {
    width: 323px;
    height: 37px;
    left: 163px;
    top: 827px;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #102654;
    margin: 0;
    
}

.description_gym > h3 {
    width: 279px;
    height: 11px;
    left: 163px;
    top: 889px;
    font-family: 'Roboto Condensed', Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #102654;
}

/* .description_gym > p {
    width: 355px;
    height: 186px;
    left: 163px;
    top: 955px;
    font-family: 'Roboto Condensed', Georgia, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #102654;
} */

.description_gym_img {
    display: block;
    float: right;
    width: 660px;
    height: 401px;
    margin: 86px 103px 0 0;
    background: url(./img/description_gym_img.jpg);
}

.description_gym_vid {
    background: url(./img/description_gym_video.png);
    width: 364px;
    height: 228px;
    display: block;
    clear: both;
    margin: 374px 0 0 540px;
}

.description_gym_vid_bg {
    background: rgba(20, 54, 122, 0.5);
    width: 364px;
    height: 228px;
    display: block;
    clear: both;
    margin: 374px 0 0 540px;
}

.description_gym_vid_play {
    background: url(./icon/play_vid.png);
    width: 100px;
    height: 100px;  
    display: block;
    clear: both;
    margin: 438px 0 0 672px;
}

.membership {
    display: flexbox;
    width: auto;
    height: 851px;
    left: 0px;
    top: 1414px;
    background: #F8F9FC;
    border: 1px solid black;
} 

.membership_p > h2 {
    width: 323px;
    height: 37px;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #102654;
    margin: 120px auto 0;
}

.membership_list > ul {    /* ничего не сделано */
    display: inline-block;
    list-style: disc;
    clear: both;
    margin: 210px auto 0;
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    color: #102654;
}

















































/* footer */

#letter_vk {
    margin-top: 24px;
}

#letter_ig {
    margin-top: 24px;
}

.social_links_icon {
    display: block;
}

