@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('./fonts/BebasNeue-Bold.woff2') format('woff2'),
         url('./fonts/BebasNeue-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('./fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';           
    src: url('./fonts/Roboto-Condensed.woff2') format('woff2'),
         url('./fonts/Roboto-Condensed.woff') format('woff');
    font-weight: normal;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';           
    src: url('./fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Light';           
    src: url('./fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;              
    font-style: normal;
}

html, body, main, footer {
    width: 1366px;
    margin: 0 auto;
    outline: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    width: 100%;
	height: 692px;
	float: left;
    position: relative;
    margin-top: 0; 
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(circle at bottom left,#003D85 0%,#B80027 100%); 
}   

/* ВЕРХНЯЯ ЛИНИЯ В HEADER */
.header_top-line {
    width: 1366px;
    height: 51px;
    margin: 0 auto 0;
    outline: 1px solid black;
}

.logo { /* надпись supergym */
    width: 89px;
    height: 20px;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 30px 0 0 103px; 
    float: left;
}

.phone a { /* 8-800-555-55-55 */
    width: 154px;
    height: 20px;
    margin: 30px 103px 0 0; 
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

/* БОЛЬШОЙ БЛОК ПОД ВЕРХНЕЙ ЛИНИЕЙ В HEADER */
.header_main {
    width: 100%;
    height: 556px;
    display: flex;
}

/* ЛЕВЫЙ БЛОК С ТЕКСТАМИ В HEADER_MAIN */
.header_left {
    display: block;
    float: left;
    width: 563px;
    height: 556px;
    outline: 1px solid black;
}

.city { /* город омск */
    width: 90px;
    height: 37px;
    float: right;
    /* margin-top: 122px;
    margin-right: 64px; */
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    outline: 1px solid black;
}

.big_name { /* надпись фитнес центр */
    width: 298px;
    height: 191px;
    font-family: 'Bebas Neue Bold', Georgia, bold;/* слетел шрифт и не хочет обратно */
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    clear:both;
    outline: 1px solid black;
}

/* СРЕДНИЙ БЛОК С ФОТО В HEADER_MAIN */
.header_mid {
    width: 500px;
    height: 556px;
}
.title_photo { /* фото с мужчиной */
    width: 100%;
    height: 100%;
    left: 563px;
    top: 51px;
}

.title_photo > img {
    width: 100%;
    height: 100%;
}

/* правый БЛОК С ССЫЛКАМИ В HEADER_MAIN */
.header_right {
    width: 303px;
    height: 556px;
}

.social_links { /* ссылки на вк, фб и иг */
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social_links li {
    list-style: none;
}

.social_links a {
    text-decoration: none;
    color: #FFFFFF;
}

.social_links > ul {
    padding: 0;
}

/* ПСТАЯ ЛИНИЯ ПОД HEADER_MAIN */
.header_bottom-line {
    margin-bottom: 0;
    display: block;
    height: 85px;
    width: 100%;
}