@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('./fonts/BebasNeue-Bold.woff2') format('woff2'),
         url('./fonts/BebasNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('./fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';           
    src: url('./fonts/Roboto-Condensed.woff2') format('woff2'),
         url('./fonts/Roboto-Condensed.woff') format('woff');
    font-weight: normal;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';           
    src: url('./fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;              
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Light';           
    src: url('./fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('./fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;              
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 1366px;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
	height: 692px;
	float: left;
    position: relative;
    margin-top: 0; 
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(circle at bottom left,#003D85 0%,#B80027 100%); 
}

/* main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gym {
    width: 100%;
    height: 722px;
    outline: 1px solid black;
}

.membership {
    width: 100%;
    height: 851px;
    outline: 1px solid black;
}

.competition_coach {
    width: 100%;
    height: 1253px;
    outline: 1px solid black;
}   

.advantage {
    width: 100%;
    height: 664px;
    outline: 1px solid black;
}

.promo_feedback {
    width: 100%;
    height: 1263px;
    outline: 1px solid black;
}

.other {
    width: 100%;
    height: 337px;
    outline: 1px solid black;
}


/* footer */
footer{
    width: 1366px;
    height: 108px;
    background: #030A1A;
}

/* top line in header w/ supergym & phone number */
.header_top-line {
    width: 100%;
    height: 51px;
    margin: 0 auto 0;
}

/* SUPERGYM */
.logo { 
    width: 89px;
    height: 20px;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 30px 0 0 103px; 
    float: left;
}

/* 8-800-555-55-55 */
.phone a { 
    width: 154px;
    height: 20px;
    margin: 30px 103px 0 0; 
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

/* main info in header under top-line */
.header_main {
    width: 100%;
    height: 556px;
    display: flex;
}

/* left block in .header_main */
.header_left {
    display: block;
    float: left;
    width: 499px;
    height: 100%;
}

/* city name */
.city { 
    width: 100%;
    height: 37px;
    text-align: right;
    font-family: 'Bebas Neue', Georgia, serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* НАДПИСЬ ФИТНЕС */
.big-name { 
    width: 100%;
    /* height: 191px; */
    height: auto;
    font-family: 'Bebas Neue Bold', Georgia, bold;/* слетел шрифт и не хочет обратно */
    font-weight: 900;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* НАДПИСИ ТЗ, ГЗ, КЗ */
.fitness_links { 
    width: 225px;
    height: 51px;
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 14px;
    line-height: 21px;
    float: right;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin-right: 23px;
}

.fitness_links_ul {
    padding: 0;
}

.fitness_links_li {
    list-style: none;
}

/* КНОПКА КУПИТЬ АБОНЕМЕНТ */
.buy-membership { 
    width: 230px;
    height: 57px;
    border: 4px solid #FFFFFF;
    float: right;
}

.buy-membership > a {
    width: 230px;
    height: 57px;
    font-family: 'Roboto Condensed';
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.buy-membership > a > p {
    margin-left: 57px;
}

/* СРЕДНИЙ БЛОК С ФОТО В HEADER_MAIN */
.header_mid {
    width: 500px;
    height: 556px;
}

/* ФОТО С МУЖЧИНОЙ */
.title_photo { 
    width: 100%;
    height: 100%;
}

.title_photo > img {
    width: 100%;
    height: 100%;
}

/* ПРАВЫЙ БЛОК С ССЫЛКАМИ В HEADER_MAIN */
.header_right {
    width: auto;
    height: 100%;
}

/* ССЫЛКИ НА ВК, ФБ И ИГ */
.social_links {
    font-family: 'Roboto Condensed', Georgia, serif;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social_links li {
    list-style: none;
}

.social_links a {
    text-decoration: none;
    color: #FFFFFF;
}

.social_links > ul {
    padding: 0;
}
